* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  color: white;
}
body {
  margin: 0;
  background: #383636;
  min-height: 100dvh;
  align-items: center;
  justify-content: center;
}
.navbar {
  background-color: black;
  height: 90px;
  text-align: center;
}
.logo_size {
  margin-top: -20px;
  width: 442px;
  height: 130px;
}
.datasheet_size {
  margin: 20px;
  margin-top: 15px;
  height: 84dvh;
  min-width: 80dvw;
  background-color: white;
  border-radius: 20px;
}