@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins';
  color: #000000;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  margin: 0;
  min-height: 100dvh;
  align-items: center;
  justify-content: center;
}
#MainBody {
  background-color: #383636;
  height: 100vh;
  width: 100vw;
}
.custom-navbar {
  background-color: black;
  height: 8.5vh;
  text-align: center;
}
.logo_size {
  margin-top: -20px;
  width: 442px;
  height: 130px;
}
.datasheet_size {
  background: #fff;
  border-radius: 20px;
  margin-left: auto!important;
  margin-right: auto!important;
  margin-top: 10px!important;
  width: 95%;
  height: 89.5vh;
  transition: .4s;
}
.login-size_pannel {
  width: 37%!important;
  height: 55.5vh!important;
  margin-top: 70px !important;
}
.inputBox span{
  color: rgba(0, 0, 0, 0.55);
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  text-transform: uppercase;
  transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #000000;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.7em;
  padding: 0 10px;
  background: #fff;
  border: solid 1px #c6c7d2;
  border-radius: 5px;
}
.inputBox input:focus ~ span {
  border-color: #000000;
}
.inputBox input:focus {
  border-color: #000000;
}
.inputBox {
  position: relative;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.inputBox input {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  border: 1px solid #c6c7d2;
  background: #fff;
  border-radius: 10px;
  outline: none;
  color: black;
  font-size: 1em;
}
.container-login-input {
  padding-top: 5%;
}
.title, .subtitle {
  text-align: center;
  color: #000000;
}
.title {
  font-weight: bold;
  font-size: 4em;
}
.container-input {
  margin-top: 8%;
}
.access-button {
  background-color: #000000;
  color: whitesmoke;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  height: 35px;
  margin-top: 25px!important;
}
.no-margin {
  margin: 0!important;
}
.no-padding {
  padding: 0!important;
}
.checkbox-container {
  margin-top: 20px!important;
  margin-left: auto;
  margin-right: auto;
  padding: 0!important;
  height: fit-content;
  display: flex;
}
input[type="checkbox"] {
  position: relative;
  width: 45px;
  height: 25px;
  -webkit-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}
input:checked[type="checkbox"] {
  background: #000000;
}
input[type="checkbox"]::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: 2px;
  left: 3px;
  background-color: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  transition: .4s;
}
input:checked[type="checkbox"]::before {
  left: 22px;
}
.remember-label {
  padding-left: 10px;
}
.password-eye {
  position: absolute;
  right: 0;
  padding: 13px;
  pointer-events: none;
  font-size: 1em;
  top: 0px;
  pointer-events: all;
}
.input-error {
  animation: shake .13s 3;
  border-color: red!important;
}
.logout-button {
  height: 40px;
  border: solid 1px white;
  background-color: #cb0505;
  color: white;
  position: absolute;
  right: 50px;
  top: 20px;
  line-height: 35px;
  border-radius: 5px;
}
.logout-button:hover {
  cursor: pointer;
  background-color: #920b0b;
}
.piastra {
  border: solid 2px #c6c7d2;
  border-radius: 5px;
  height: 30vh;
  margin: 5px;
  display: flex;
  justify-content: center;
}
.container-piastre {
  display: flex;
  justify-content: center;
  /* margin-top: 20%; */
  margin-top: auto;
  margin-bottom: auto;
}
.functionality-page {
  width: 70% !important;
  height: 68.5vh;
  margin-top: 50px !important;
  /* width: 45% !important;
  height: 76.5vh; */
}
.container-funzioni {
  margin-top: 10%;
}
.icona-piastra {
  font-size: 90px;
  text-align: center;
  padding: 85px;
  color: #c6c7d2;
}
.piastra-label {
  position: absolute;
  margin-top: 10%;
}
.piastra:hover {
  background-color: #000000;
  cursor: pointer;
}
.piastra:hover .icona-piastra,
.piastra:hover .piastra-label {
  color: #fff;
}
.not-found {
  margin-top: 155px!important;
  width: 58%;
  height: 45.5vh;
}
.not-found-label {
  font-size: 220%;
}
.warning {
  color: #d60505;
  padding-top: 50px;
  font-size: 150px;
}
.warning-button {
  border-radius: 20px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
  outline: none;
  font-size: 22px;
  background-color: #000000;
  color: whitesmoke;
}
.not-found-container {
  text-align: center;
  margin: 0!important;
}
.add-user {
  margin-top: auto!important;
  margin-bottom: auto!important;
}
.align-button {
  display: flex;
  justify-content: center;
}
.container-loader {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.573);
  z-index: 2;
}
.center-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.ring {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: transparent;
}
.ring {
  box-shadow: 0 4px 0 #262626;
  animation: animate 1s linear infinite;
}
.loader-text {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: transparent;
  text-align: center;
  line-height: 300px;
  font-size: 2em;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  z-index: 999;
  color: #fff;
}
.back-arrow {
  position: absolute;
  color: #fff;
  font-size: 35px;
  top: 2.5%;
  left: 2%;
}
.welcome-message {
  font-size: xxx-large;
  text-align: center;
  padding-top: 45px;
}
.register {
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  padding: 0;
}
.fill-data {
  font-size: xx-large;
  text-align: center;
}
.container-message-modal {
  text-align: center;
  margin: 0!important;
}
.check {
  font-size: 590%;
}
.message-label {
  font-size: 220%;
}
.message-button {
  border-radius: 20px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
  outline: none;
  font-size: 22px;
  background-color: #000000;
  color: whitesmoke;
}
.custom-dropdown-container {
  border: 1px solid;
  border-radius: 5px;
  position: absolute;
  max-height: 230%;
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.custom-dropdown:hover {
  background-color: rgb(14, 91, 233);
}
.custom-dropdown {
  font-size: larger;
}
.dati-scheda-tecnica {
  padding: 2%;
}
.label-datasheet {
  justify-content: center;
  font-size: xxx-large;
  margin-bottom: 10%;
}
.custom-dropdown-container::-webkit-scrollbar {
  /* Hide scrollbar */
  display: none;
}
.birthday-box {
  margin-top: 25vh;
  position: absolute;
  background: #fff;
  border-radius: 0 20px 20px 0;
  transition: .4s;
  height: 30vh;
  width: 31vw;
  border: solid 1px;
  z-index: 1;
}
.arrow-birthday-box {
  background: #fff;
  border-radius: 0 20px 20px 0;
  transition: .4s;
  height: 6vh;
  width: 3vw;
  margin-left: 94%;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  border-right: solid 2px;
}
.birthday-cake, .angle-right {
  margin-top: auto;
  margin-bottom: auto;
}
.birthday-cake {
  padding-right: 3px;
}
.closed-birthday-box {
  margin-left: -31vw;
}
.arrow-birthday-box:hover {
  margin-left: 100%;
  width: 4vw;
}
.open-birthday-box {
  margin-left: 94% !important;
  width: 3vw !important;
}
.close-arrow {
  rotate: 180deg;
}
#CustomersBirthDay {
  position: absolute;
  width: 31vw;
  height: 20vh;
  top: 3vh;
  left: 0vw;
  text-align: center;
  z-index: -1;
}
.birthday-title {
  font-size: x-large;
  margin-top: -1vh;
  margin-bottom: 1vh;
}
.box-customer-birthday {
  overflow-y: auto;
  height: 100%;
  width: 90%;
  border: solid 1px;
  position: absolute;
  left: 1vw;
  border-radius: 20px;
}
.no-birthday-icon {
  font-size: xxx-large;
  margin-top: 4vh;
  color: red;
}
.no-birthday-label {
  padding-top: 1vh;
  font-size: x-large;
}
.birthday-row {
  text-align: left;
  padding: 1vw;
  font-size: large;
}
.align-birthday-customers {
  border: solid 1px;
  border-radius: 15px;
  border-top: none;
  border-right: none;
}
::-webkit-scrollbar {
  display: none;
}
.align-birthday-message-icon {
  position: absolute;
  right: 2vw;
  margin-top: 0.5vh;
}
.align-birthday-message-icon:hover {
  cursor: pointer;
}
#sendMessageModal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  justify-content: center;
}
.textarea-message {
  border: solid 1px;
  border-radius: 15px;
  margin-top: auto!important;
  height: 20vh;
  margin-bottom: 2vh;
  font-size: x-large;
  outline: none;
}
.annulla-button {
  margin-right: 1.5vw;
  color: white;
  background: red;
  border: none;
  border-radius: 6px;
  outline: none;
}
.invia-button {
  color: white;
  background: #1DB954;
  border: none;
  border-radius: 6px;
  outline: none;
}
.container-message-button {
  display: flex;
  justify-content: center;
  height: fit-content;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ----------------------------------------------------------------------------------------------------------- */
/*
  320px — 480px: Mobile devices
  481px — 768px: iPads, Tablets
  769px — 1024px: Small screens, laptops
  1025px — 1200px: Desktops, large screens
  1201px and more —  Extra large screens, TV
*/


/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
/* ----------------------------------------------------------------------------------------------------------- */
/* @media screen and (min-width: 320px) and (max-width: 480px) {
  #MainBody {
    height: 100dvh;
    width: 100dvw;
  }
} */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #MainBody {
    height: 100vh;
    width: 100vw;
  }
  .login-size_pannel {
    width: 80vw!important;
    height: 45.5vh!important;
    margin-top: 12vh !important;
    margin-bottom: auto;
  }
  .logo_size {
    margin-top: -3vh;
    width: 50vw;
    height: 15vh;
  }
  .ring {
    width: 100px;
    height: 100px;
  }
  .loader-text {
    width: 100px;
    height: 100px;
    line-height: 12vh;
    font-size: 1em;
}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .logo_size {
    margin-top: -3vh;
    width: 50vw;
    height: 15vh;
  }
  .loader-text {
    width: 165px;
    height: 165px;
    line-height: 19vh;
    font-size: 1.5em;
  }
  .ring {
    width: 165px;
    height: 165px;
  }
  .login-size_pannel {
    width: 80vw!important;
    height: 45.5vh!important;
    margin-top: 12vh !important;
    margin-bottom: auto;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .login-size_pannel {
    width: 80vw!important;
    height: 50.5vh!important;
    margin-top: 12vh !important;
  }
  .logo_size {
    margin-top: -3vh;
    width: 50vw;
    height: 15vh;
  }
  .container-input {
    margin-top: 6%!important;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .login-size_pannel {
    width: 80vw!important;
    height: 50.5vh!important;
    margin-top: 12vh !important;
  }
  .logo_size {
    margin-top: -3vh;
    width: 50vw;
    height: 15vh;
  }
  .container-input {
    margin-top: 6%!important;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .logo_size {
    margin-top: -3vh;
    width: 25vw;
    height: 15vh;
  }
}