* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  color: white;
}
body {
  margin: 0;
  background: #383636;
  min-height: 100dvh;
  align-items: center;
  justify-content: center;
}
.navbar {
  background-color: black;
  height: 90px;
  text-align: center;
}
.logo_size {
  margin-top: -20px;
  width: 442px;
  height: 130px;
}
.datasheet_size {
  margin: 20px;
  margin-top: 15px;
  height: 87vh;
  min-width: 80vw;
  background-color: white;
  border-radius: 20px;
}

/* ----------------------------------------------------------------------------------------------------------- */
                                      /*
                                        320px — 480px: Mobile devices
                                        481px — 768px: iPads, Tablets
                                        769px — 1024px: Small screens, laptops
                                        1025px — 1200px: Desktops, large screens
                                        1201px and more —  Extra large screens, TV
                                      */
/* ----------------------------------------------------------------------------------------------------------- */

@media screen and ((min-width: 320px) and (max-width: 480px)) and ((min-width: 481px) and (max-width: 768px)) {
  .datasheet_size {
    height: 87dvh;
    min-width: 80dvw;
  }
}