.p-datatable-row-selected,
.p-paginator-page-selected {
  /* background-color: #393939!important; */
  background-color: black!important;
}
.p-datatable-row-selected td,
.p-datatable-row-selected,
.p-paginator-page-selected,
.p-datatable-column-sorted .p-datatable-column-header-content .p-datatable-sort-icon path  {
  color: #fff!important;
}
.p-datatable-tbody > tr.p-datatable-row-selected > td {
  border-bottom-color: white!important;
}
.p-datatable-column-sorted {
  /* background-color: #dad6d6!important; */
  background-color: black!important;
}
.p-datatable-column-sorted .p-datatable-column-header-content .p-datatable-column-title {
  color: #fff;
}
.justify-end {
  justify-content: end;
}
.p-datatable-hoverable .p-datatable-header {
  max-height: 10vh;
  padding: 1vh;
}
.p-inputtext:enabled:focus {
  box-shadow: none!important;
  border-color: black!important;
}
.p-inputtext:enabled:hover {
  border-color: black!important;
}
.p-multiselect:not(.p-disabled):hover {
  border-color: black!important;
}
.p-multiselect:not(.p-disabled).p-focus {
  box-shadow: none!important;
  border-color: black!important;
}
.p-checkbox-input {
  width: 0px!important;
}
.p-checkbox, .p-checkbox-box svg path {
  color: #fff!important;
}
.p-checkbox-box svg, .p-checkbox-checked .p-checkbox-box {
  background-color: black!important;
  border-color: black!important;
}
.p-checkbox:not(.p-disabled):has(.p-checkbox-input:hover) .p-checkbox-box {
  border-color: black!important;
}
.multiselect-radius {
  border-radius: 10px!important;
}